/* =============
    Graph
============= */
#graph {
  background-color: $graphLight;
  color: $white;
  padding: 55.5px 0 37px;

  h1 {
    font-size: rem-calc(35);
    padding-bottom: 37px;
    text-align: center;
  }

  p {
    padding-bottom: 37px;
    text-align: justify;
  }

  .bar {
    background: $graphDark;
    box-sizing: border-box;
    margin: 10px 0 37px;
  }

  .graphbar {
    background: $white;
    height: 10px;
    width: 100%;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
  }

  @include sm {
  grid-template-columns: 10% auto 10%;
  h1 {
    font-size: 40px;
  }

}
@include md {
  h1 {
    font-size: 50px;
    text-align: left;
  }
  p {
    font-size: 20px;
  }
}
@include xl {
    grid-template-columns: auto 1000px auto;
}
}
