/* =============
    Navigation
============= */
a:hover,
a:link {
    text-decoration: none;
    transition: 0.25s;
}

#burger-icon {
    background-color: $black;
    border: none;
    color: $white;
    font-size: rem-calc(18);
    outline: none;
    padding: 8px;
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 100;
}

#burger-icon:hover {
    background-color: $accent;
    color: $white;
}



#off-canvas-container{

    background-color: $accent;


    /* close btn */
    button {
        background-color: transparent;
        border: none;
        color: $white;
        cursor: pointer;
        font-size: rem-calc(25);
        margin-bottom: 20px;
        text-align: right;
        transition: 0.25s;
        width: 100%;
    }

    /* close btn */
    button:hover {
        color: $black;
    }

    ul {
        li {
          border-bottom: 1px solid $white;
              padding: 2px 0;
              text-align: right;
              margin-bottom: 15px;

              a {
                padding-right: 10px;
              }
              li:nth-child(1){
                border-bottom: none;
                padding-left: 10px;
              }
              li:nth-child(2){
                border-bottom: none;
                padding-left: 10px;
              }
              li:nth-child(3){
                border-bottom: none;
                padding-left: 10px;
              }
            }

            ul:nth-child(1){
              display: flex;
              justify-content:flex-end;
              margin-bottom: -15px;
            }

            a:link,
            a:visited {
                color: $white;
            }

            a:active,
            a:hover {
                color: $black;
              }

    }
}


// nav {
//   background-color: $accent;
//   padding: 10px;
//   @include lg {
//     background-color: $white;
//     padding-left: 0;
//   }
//
//   ul {
//     @include lg {
//       align-items: center;
//       display: flex;
//       height: 100%;
//     }
//
//     li {
//       margin-bottom: 10px;
//       border-bottom: 1px solid $white;
//
//       @include lg {
//         border-bottom: none;
//         margin-bottom: 0;
//         margin-left: 20px;
//       }
//
//       a:link,
//       a:visited {
//         color: $white;
//         @include lg {
//           color: $black;
//         }
//       }
//     }
//   }
// }
